<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GraphApiBaseUri" value="https://graph.facebook.com/v2.10/"/>
    <add key="DefaultAccessToken" value="EAABsdy9l05sBAEDYtgXlmTWM0B18ZAoX33ZAuS5go5tEXPYRXPgVDGY8dxFs0top6p8paccf2BwAdgApS9rHDBNWMXLuUwxQa8UnHkncaZBNRaCzVbXFKpnmkSgTLkMRHZBAnZCOKg0SbxAqwEnZBz02eD2eVkAv6Y2pVO1OmhXAZDZD"/>
  </appSettings>
</configuration>